html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
    "header header"
    "main main";
  gap: 1rem;
}

header {
  display: contents;
  grid-area: header;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 4em;
}

.pano {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.logo {
  grid-column: 1 / -1;
  grid-row: 3;
  z-index: 1;
  width: 14rem;
  margin: 1rem 1rem 2rem;
  align-self: end;
}

nav a {
  font-family: "Patua One", sans-serif;
  font-size: 2rem;
  color: #fff;
}

nav ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  padding: 0;
  justify-content: space-around;
  max-width: 28rem;
}

nav {
  grid-column: 2 / -2;
  grid-row: 1;
  z-index: 1;
}

h2 {
  font-family: "Patua One", sans-serif;
  color: #30658d;
  margin: 1rem 0 0;
}

p {
  margin: 0;
}

img {
  width: 100%;
  display: flex;
}

main {
  grid-area: main;
  display: contents;
}

figure {
  margin: 0;
}
